In [1]:
from iexfinance.refdata import get_symbols
get_symbols(output_format='pandas').head()

         date  iexId  isEnabled                       name symbol type
0  2019-02-25      2       True  Agilent Technologies Inc.      A   cs
1  2019-02-25  12042       True          Alcoa Corporation     AA   cs
2  2019-02-25  14924       True   Perth Mint Physical Gold   AAAU  N/A
3  2019-02-25   7653       True                Altaba Inc.   AABA   cs
4  2019-02-25   9169       True          AAC Holdings Inc.    AAC   cs

In [11]:
from iexfinance.stocks import Stock

a = Stock(["AAPL", 'MSFT'], output_format='pandas', token='pk_6e3e07b9120c45b0beed38993af40469')
sec = a.get_sector()
a.get_quote().head()

                      AAPL      MSFT
avgTotalVolume    29259479  28867422
calculationPrice     close     close
change                1.26      0.62
changePercent      0.00728   0.00559
close               174.23    111.59

In [45]:
from iexfinance.stocks import get_sector_performance
temp =get_sector_performance(output_format='pandas')
temp['Technology'].values

array([1551128400333, 'Technology', 0.00481, 'sector'], dtype=object)

In [54]:
Stock.get_financials(['AAPL'], output_format='pandas', token='pk_6e3e07b9120c45b0beed38993af40469')

AttributeError: 'list' object has no attribute '_get_endpoint'

In [49]:
from iexfinance.stocks import get_historical_data
get_historical_data("AAPL", output_format='pandas').tail()

              open    high     low   close    volume
date
2019-02-19  169.71  171.44  169.49  170.93  18972826
2019-02-20  171.19  173.32  170.99  172.03  26114362
2019-02-21  171.80  172.37  170.30  171.06  17249670
2019-02-22  171.58  173.00  171.38  172.97  18913154
2019-02-25  174.16  175.87  173.95  174.23  21873358